/* Nav.css */

.nav-container {
  background-color: #282c34;
  padding: 1rem;
}

.nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.nav-ul li {
  margin: 0 1rem;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-ul li a:hover {
  color: #61dafb;
}


/* footer */

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0 !important;
  width: 100%;
}

.container-footer {
  width: 80%;
  margin: auto;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-content p {
  font-size: 16px;
  color: #ffdd57;
}


/* SignUp.css */


.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  background-color: #f9f9f9;
}

.signup-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.input-group {
  width: 100%;
  margin-bottom: 1rem;
}

.signup-label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.signup-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.signup-input:focus {
  border-color: #007bff;
  outline: none;
}

.signup-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #0056b3;
}
